{% load staticfiles%}
<html>
<head>
<link rel="stylesheet" type="text/css" href="ACEADAA.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DigiMed</title>
<style>
table, th, td{
border:2px solid black;
padding: 15px;
text-align: center;
background-color: #87CEFA;
}

caption {
color: #00A2E8;
font-size: 25px;
}
</style>
</head>

<body style="background-color: #ffffff;">
<img class="a" src="{% static 'myapp/DigiMed.jpg' %}" alt="DigiMed Logo" title="DigiMed" href="C:\Users\Ahan\Desktop\ACEADAA.html" style="height:100px; width:300px; vertical-align: bottom;">
<button style="font-size: 19px; color: #00A2E8; margin-top: 25px; margin-bottom: 25px; float: right; border: none; background-color:#ffffff; padding: 16px; font-family: Constantia;"><a href="#Contact">Contact Us</a></button>
<hr style="size:100%; height: 7px; background-color: #00AFF0">

<table style="width:600px; margin-left: 25%; margin-top: 5%">
<caption style="margin-bottom: 15px;"> Upcoming Events Related to Health </caption>

<tr>
<th >Day</th>
<th>Location</th>
<th>Event Name</th>
</tr>
<tr>
<td>14-15 October</td>
<td>Geneva, Switzerland</td>
<td> Enhancing Country Action on Mental Health</td>
</tr>
<tr>
<td>20-22 October</td>
<td>Townsville, Australia</td>
<td> 2019 Frontline Mental Health Conference </td>
</tr>
<tr>
<td>21-22 October</td>
<td>Amsterdam, The Netherlands</td>
<td> 2nd Annual Congress on Psychiatric & Mental Health Nursing</td>
</tr>
<tr>
<td>25-28 October </td>
<td>Bucharest, Romania</td>
<td> 23rd World Congress of Social Psychiatry</td>
</tr>
<tr>
<td>26 October</td>
<td>Lviv, Ukraine</td>
<td> III International conference on mental health care </td>
</tr>
<tr>
<td>29 October</td>
<td>London, UK</td>
<td>The Road to Global Mental Health conference</td>
</tr>
<tr>
<td>5-9 November </td>
<td>Buenos Aires, Argentina </td>
<td> World Mental Health Congress</td>
</tr>
<tr>
<td>20 November</td>
<td>London, UK</td>
<td> Mental Health in Africa: Innovation and Investment</td>
</tr>
</table>
<hr style="width:100%; background-color: #00CCCC; height: 3px; margin-top: 30%;">

  <p id="Contact" style=" font-size:16px; text-align: center"> &#128231; : services@digimed.com || &#128222;: 022-28546869<br>

  </p>
</body>
</html>