<html>
<head>
  <link rel="stylesheet" type="text/css" href="sidebarmenu.css">
</head>
<body>
  <div class="loginbox" style="margin-left:50%; margin-top: 25px;">
  <img src="avatar.jpeg" class="avatar"style="margin-left: 10px; margin-top: 15px; color:white;">
  <h1 style="margin-left: 10px; color:white;">Login</h1>
 
  <form  action="adduser" style="margin-left: 70px;" >
    <p style="margin-left: 10px; color:white;">ID:</p>
    <input type="text" name="user1" placeholder="Enter Username" style="margin-left: 10px;" >
    <p style="margin-left: 10px; color:white;">Password:</p>
     <input type="password" name="password" placeholder="Password" style="margin-left: 10px;"> <br><br>
    <button type="submit" style="text-align: center; margin-top: 10px; margin-left: 70px; " >Login</button><br><br>
    <a href="#" style=" text-align: center; margin-top: 30px; margin-left: 30px;">Not Yet Registered</a>-->
  </form>

</div>
</body>
</html>
